#contact {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color5;

  > section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      max-width: 500px;
      padding: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.1); /* Light border */
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: $color4;

      > h2 {
        text-align: center;
        font: 100 2.7rem $text2;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 1rem 0;
      }

      > input,
      > textarea,
      > button {
        padding: 0.8rem;
        width: 100%;
        outline: none;
        font: 400 0.9rem $text1;
        margin: 1rem 0;
        border: 1px solid rgba(0, 0, 0, 0.2); /* Subtle input borders */
        border-radius: 5px;
      }

      > textarea {
        resize: none;
        height: 120px;
      }

      > button {
        cursor: pointer;
        background-color: $color5;
        color: $color4;
        font: 600 1rem $text1;
        text-transform: uppercase;
        margin: 2rem 0;
        transition: background-color 0.3s;

        &:hover {
          background-color: $color3_1;
        }

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
}
