#timeline {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;

  .timelineBox {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: $color5;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .timelineItem {
    padding: 1rem 3rem;
    position: relative;
    background-color: inherit;
    width: 50%;
    animation: fadeInUp 0.5s ease-in-out forwards;

    &.leftTimeline {
      left: 0;
      text-align: right;
    }

    &.rightTimeline {
      left: 50%;
      text-align: left;
    }

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: $color5; /* Circle filled with the same color as the timeline line */
      border: 4px solid $color5; /* Border for the circle */
      top: 45px;
      border-radius: 50%;
      z-index: 1;
    }

    &.leftTimeline::after {
      right: -17px;
    }

    &.rightTimeline::after {
      left: -17px;
    }

    > div {
      padding: 20px 30px;
      background-color: $color5;
      color: $color1;
      border-radius: 6px;
    }
  }

  /* Keyframes for fade-in animation */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
